
* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-main;
}

body {
  font-family: $font-main;
  color: $primary;
}
html {
  font-family: $font-main;
  font-size: $font-size-16;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input,
textarea,
select {
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
a,
button {
  cursor: pointer;
}
ol,
li {
  list-style: none;
}
ul,
ol {
  padding-left: o;
}
