/*
mobile Grid System (<768px) ------------------------------------------------------------------------------------
* # of columns--------------------4
* fixture-------------------------sm
* gutter -------------------------20px
* container-size------------------100% - (5px*2) 
* margin--------------------------5px
*/

/*
Tablet Grid System (>=768px) ------------------------------------------------------------------------------------
* # of columns--------------------12
* fixture ------------------------md
* gutter -------------------------20px
* container-size------------------100% - (30px*2) 
* margin--------------------------30px
* max container-size--------------960px
*/

/*
Desktop (>=1200px) ------------------------------------------------------------------------------------
* # of columns--------------------12
* fixture ------------------------lg
* gutter -------------------------20px
* unit ---------------------------75px
* container-size------------------(75+20)*12 =1140px
* margin--------------------------auto
* max container-size--------------1140px
*/

$gutter: 20px;

$sm-margin: 5px;
$sm-columns: 4;

$md-margin: 30px;
$md-columns: 12;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-margin: auto;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;
.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  [class^='col-'] {
    padding: 0 $gutter / 2;
    /*Col 컬럼에 양옆에 거터절반을 패딩에주거라 =>unit의미*/
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: percentage($i/$sm-columns);
    }
  }

  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i/$md-columns);
      }
    }
  }

  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
